.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}

.map {
  width: 400px;
  height: 400px;
  background-color: #333;
}